{% extends 'base.html' %}

{% block content %}
<main id="main" class="main">

    <div class="pagetitle">
      <h1>Publications</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/Publication_a">Add</a></li>
          <li class="breadcrumb-item"><a href="/Publication_show">Display</a></li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
<section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Show Publication</h5>

              <!-- Table with stripped rows -->
              <table class="table datatable">
                <thead>
                  <tr>
                     <th>Publication ID</th>
                      <th>Publication Name</th>

                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                 {% for publication in publications %}
                 <tr>
                    <td>{{ publication.publication_id }}</td>
                    <td>{{ publication.publication_name }}</td>

                    <td>
                        <a href="/Publication_edit/{{ publication.publication_id }}" class="btn btn-secondary"><span class="glyphicon glyphicon-pencil" >Edit</span></a>
                        <a href="/Publication_destroy/{{ publication.publication_id }}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            {% endfor %}
                </tbody>
              </table>
              <!-- End Table with stripped rows -->

            </div>
          </div>

        </div>
      </div>
    <center>
    <a href="/publication_a" class="btn btn-primary">Add New Record</a>
</center>
    </section>
    </main><!-- End #main -->

  <!-- End #main -->

{% endblock content %}