{% extends 'base.html' %}

{% block content %}


<main id="main" class="main">

    <div class="pagetitle">
      <h1>Update Publication</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/publication_a">Add</a></li>
          <li class="breadcrumb-item"><a href="/Publication_show">Display</a></li>

        </ol>
      </nav>
    </div><!-- End Page Title -->
<section class="section">
      <div class="row">
        <div class="col-lg-6">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Update Publication</h5>

              <!-- General Form Elements -->
              <form method="POST" action="/Publication_update/{{publication.publication_id}}">
                  {% csrf_token %}

                  <div class="row mb-3">
                  <label class="col-sm-4 col-form-label">Publication Name</label>
                  <div class="col-sm-7">
                   <input type="text" name="publication_name" id="publication_name" required maxlength="100" value="{{ publication.publication_name }}" />
                  </div>
                </div>


                <div class="row mb-3">

                  <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Update</button>
                  </div>
                </div>

              </form><!-- End General Form Elements -->

            </div>
          </div>

        </div>
      </div>
</section>
</main>
{% endblock content %}